html {
    font-size: 62.5%;

    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
    }

    body {

        font-size: 1.6rem;

    }

    header {
        background-color: aqua;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;           
    }

    .logo {
        background-color: aqua;
    }


    .nav {
        height: auto;
        margin: 0 auto;
        padding: 1rem 0; 
        text-align: center;
        height: auto;
        width: 100%;
        background-color: #2E323F;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
    }

    img {
        max-width: 100%;
    }

    img.logo {
        height: 7rem;
        display: block;
        margin: 0 auto;
    }

    .nav__list {
        list-style: none;
        padding: 0;
    }

    .primary {
        margin-bottom: 1.5rem;
    }

    .nav__item {
        margin-bottom: .75rem;
    }

    .nav__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    }

    .sign__bottom {
        padding: 0.45rem;
        border-radius: 100px;
        background: #A59678;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
    }

    section.first {
        background: #3B4050;
        margin: 0;
        width: 100%;

    }

    .big-title {
        padding: 4rem 6rem;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        font-size: 4.5rem;
    }

    span.white {
        color: #fff;
    }

    span.struggle {
        color: #A59678;
    }

    h1 {
        margin: 0;
        /* padding: 1rem; */
    }

    section.right-side {
        background-color: #3B4050;
     
    }

    .right-col {
        text-align: left;
        padding:  6rem;
    }

    p.right__col {
        font-family: "Montserrat", sans-serif;
        font-size: 2.4rem;
        color: #fff;
        margin: 0;
    }

    .button {
        text-align: left;
    }

    .action-btn {
        display: inline-block;
        position: relative;
        padding: 0rem 3rem;
        border-radius: 100px;
        width: auto;
        margin: 3rem 0;
        background-color: #A59678;
    }

    .item {
        text-align: center;
        padding: 0 1rem;
    }

    .item__h2 {
        color: #A59678;
        font-size: 3.0rem;
    }

    .p__h2 {
        color: #6F737F;
        padding: 0 1rem;
    }

    .item4 {
        text-align: left;

    }

    .right {
        background-color: #3B4050;
        color: #fff;
        margin: 1.5rem auto;
        padding: 0.5rem 2rem;
    }

    .right__items {
        font-family: "Oswald";
        font-weight: 500;
        font-size: 3.0rem;
    }

    footer {

        font-family: "Oswald", sans-serif;
    }

    .scratching {
        background-color: #3B4050;
        padding: 1.5rem auto;
        padding: 3rem;
    }

    .footer_title {
        font-size: 2.4rem;
        text-align: center;
    }

    .footer_links {
        background-color: #3B4050;
        text-align: center;
    }

    .footer_links>p {
        margin-bottom: 0.5rem;
        color: #fff;
    }

    .about {
        text-align: left;
        padding: 2rem;
    }

    .footer_links>p:last-child {
        padding-bottom: 2rem;
    }

    h2.footer_title {
        margin: 0;

    }

    h3.title {
        padding-top: 1rem;
        font-size: 2.1rem;
        color: #A59678;
    }



    @media (min-width:1000px) {
        .__first {
            display: flex;
        }
        .navbar {
            display: flex;
        }

        .nav {
            display: flex;
            justify-content: space-between;
            justify-items: flex-end;
        }

        ul.nav__list {
            display: flex;
        }

        .nav__item {
            justify-items: center;
            padding: 0 2rem;
        }

        .logo {
            margin: auto 1rem;
        }

        .first_col {
            display: none;
        }

        .third {
            display: flex;
            gap: 3rem;
           
        }
        .right {
            margin-bottom: 2rem;
        }

        footer {
            display: flex;
           
        }

        .row {
            display: flex;
        }

        .right_items {
            display: flex;
            flex-direction: column;
            margin-right: 3rem;
            gap: 1rem;
        }

        .footer_links {
            flex: 1;
        }

        .first_col1 {
            /* display: block; */
            flex-basis: 35%;
        }
    }

    @media (min-width:700px) and (max-width: 999px) {
        .navbar {
            display: flex;
        }

        .nav {
            display: flex;
            justify-content: space-between;
            justify-items: flex-end;
        }

        ul.nav__list {
            display: flex;
        }

        .nav__item {
            justify-items: center;
            padding: 0 2rem;
        }

        .logo {
            margin: auto 1rem;
        }

        .row {
            display: flex;
        }

        .right_items {
            display: flex;
            gap: 2rem;
        }

        .first_col1 {
            display: none;
        }

        footer {
            display: flex;
        }

        .footer_links {
            flex: 1;
        }
    }

}